version: 2
jobs:
  dostuff:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Greeting
          command: echo Hello, world.

      - run:
          name: Print the Current Time
          command: date

  domore:
    docker:
      - image: debian:stretch

    steps:
      - run:
          name: More things
          command: sleep 1

  deploy:
    docker:
      - image: debian:stretch

    steps:
      - run:
          name: More things
          command: "true"

workflows:
  version: 2
  build:
    jobs:
      - dostuff:
          filters:
            tags:
              only:
                - test
      - domore:
          requires:
            - dostuff
          filters:
            tags:
              only:
                - test
      - deploy:
          requires:
            - dostuff
          filters:
            branches:
              only:
                - deploy
