version: 2
jobs:
  dostuff:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Greeting
          command: echo Hello, world.

      - run:
          name: Print the Current Time
          command: date

  domore:
    docker:
      - image: debian:stretch

    steps:
      - run:
          name: Spill the beans
          command: echo $BIG_SECRET

      - run:
          name: More things
          command: sleep 10

  deploy:
    docker:
      - image: debian:stretch

    steps:
      - run:
          name: More things
          command: "true"

workflows:
  version: 2
  build:
    jobs:
      - dostuff
      - domore:
          requires:
            - dostuff
      - deploy:
          requires:
            - domore
  nightly:
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
