version: 2
jobs:
  dostuff:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Greeting
          command: echo Hello, world.

      - run:
          name: Print the Current Time
          command: date

  domore:
    docker:
      - image: debian:stretch

    steps:
      - run:
          name: More things
          command: sleep 10000

  docoda:
    docker:
      - image: debian:stretch

    steps:
      - run:
          name: More things
          command: "true"

workflows:
  version: 2
  build:
    jobs:
      - dostuff
      - domore:
          requires:
            - dostuff
      - wait:
          type: approval
          requires:
            - domore
      - docoda:
          requires:
            - wait
